<h1>Editing fiscal_year</h1>

<%= error_messages_for :fiscal_year %>

<% form_for(:fiscal_year, :url => fiscal_year_path(@fiscal_year), :html => { :method => :put }) do |f| %>
  <p>
    <%= submit_tag "Update" %>
  </p>
<% end %>

<%= link_to 'Show', fiscal_year_path(@fiscal_year) %> |
<%= link_to 'Back', fiscal_years_path %>