<h1>Listing fiscal_years</h1>

<table>
  <tr>
  </tr>
  
<% for fiscal_year in @fiscal_years %>
  <tr>
    <td><%= link_to 'Show', fiscal_year_path(fiscal_year) %></td>
    <td><%= link_to 'Edit', edit_fiscal_year_path(fiscal_year) %></td>
    <td><%= link_to 'Destroy', fiscal_year_path(fiscal_year), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New fiscal_year', new_fiscal_year_path %>