<h1>New fiscal_year</h1>

<%= error_messages_for :fiscal_year %>

<% form_for(:fiscal_year, @fiscal_year, :url => fiscal_years_path,
            :builder => SmartFormBuilder) do |f| %>
  <%= f.text_field "description" %>


  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Back', fiscal_years_path %>