<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Smartbooks: <%= @page_title %></title>
  <%= stylesheet_link_tag 'scaffold', 'smartbooks' %>
  
  <%= javascript_include_tag 'prototype', 'lowpro', 'date_selector', 'application' %>
  
  <%= yield :javascript %>
</head>
<body>

<p style="color: green" id="notice"><%= flash[:notice] %></p>
<p style="color: red"><%= flash[:warning] %></p>

<%= yield  %>

</body>
</html>
