<h1>Editing account</h1>

<%= error_messages_for :account %>

<% form_for(:account, :url => account_path(@account), :html => { :method => :put }) do |f| %>
  <p>
    <%= submit_tag "Update" %>
  </p>
<% end %>

<%= link_to 'Show', account_path(@account) %> |
<%= link_to 'Back', accounts_path %>