<h1>New account</h1>

<%= error_messages_for :account %>

<% form_for(:account, :url => accounts_path) do |f| %>
  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Back', accounts_path %>